h2 {
    margin-bottom: 10px;
}

p, ul {
    margin: 0.5em 0;
}

table.events {
    border: 1px solid black;
}

table.events td {
    padding-bottom: 5px;
}

.date-row {
    background-color: #DDDDDD;
    height: 50px;
}

.nav {
position: fixed;
top: 0;
background-color: white;
width: 100%;
margin: 0 0 0 -8px;
padding: 0px;
z-index: 100;
border: 1px solid grey;
}

.nav li {
    display: inline-block;
    padding: 5px;
}

.content {
    margin-top: 50px;
}

li.highlight {
    font-weight: bold;
    font-size: 1.05em;
}

li {
   margin-bottom: 5px;
}

.assets ul {
	padding-left: 0;
}

li.thumb {
    width: 20%;
    min-width: 150px;
    display: inline-block;
}

li.thumb.small {
    width: 14%;
    min-width: 100px;
    display: inline-block;
}

li.thumb.tiny {
    width: 11%;
    min-width: 50px;
}

li.thumb img {
    max-width: 99%;
}

.events .mono,
.events .regular {
    position: relative;
}

.events .regular .info {
    position: absolute; right: 0; top: 0;
}

.events .mono .left {
    width: 65%;
	float: left;
}
.events .mono .assets {
    width: 35%;
	float: right;
}
.events .mono li.thumb {
    width: auto;
}

.stripe {
    background-color: #EEEEEE;
}

.delete-performer {
	position: absolute; top: 100px; right: 50px;
}

strong {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.resultBox
{
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border: 1px solid grey;
}

.resultBox.success
{
    background-color: green;
}

.resultBox.fail
{
    background-color: red;
}

button.copy {
	background: url(http://icons.iconseeker.com/png/128/toolbar-icons/copy.png);
	background-size: 100%;
	font-size: 0;
	height: 25px; width: 25px;
}

.clickable {
	cursor: pointer;
}

