table.events {
    border: 1px solid black;
}

.date-row {
    background-color: #DDDDDD;
    height: 50px;
}

.nav li {
    display: inline-block;
    width: 20%;
}

li.highlight {
    font-weight: bold;
    font-size: 1.05em;
}

li {
   margin-bottom: 5px;
}

li.thumb {
    width: 20%;
    min-width: 100px;
    display: inline-block;
}

li.thumb img {
    width: 99%;
}

.stripe {
    background-color: #EEEEEE;
}

strong {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.resultBox
{
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border: 1px solid grey;
}

.resultBox.success
{
    background-color: green;
}

.resultBox.fail
{
    background-color: red;
}